.App {
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  margin-top: 5%;
  /* font-family: 'Open Sans', sans-serif'; */
}

.calculator {
  margin: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.Body {
  max-width: 100%;
}

.custom-btn {
  width: 33%;
  height: 5rem;
}

.row {
  margin: 0.5rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
  letter-spacing: 5px;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: gray;
  border-color: gray;
  cursor:not-allowed;
}

.Screen {
  margin-bottom: 2rem;
}

.custom-input {
  min-height: 4rem;
}

.btn-light {
  border-color: #cfd0d25e;
}

.btn-dark {
  color: black;
  background-color: #cfd0d25e;
  border-color: #cfd0d25e;
}

.btn-dark:hover {
  color: black;
  background-color: #cfd0d2c7;
  border-color: #cfd0d2c7;
}

.btn-function {
  color: black;
  background-color: #E7D2CC;
  border-color: #E7D2CC;
}